.header-button {
  height: 2rem;
  border-radius: 20px;
  font-size: 0.875rem;
  border-radius: 20px;
  font-weight: 600;
  background-color: #383838;
  color: #ffffff;
  padding: 0 1rem;
}

.header-button:hover {
  background-color: #222222;
}
