button {
  font-family: inherit;
}

.contained {
  background-color: #383838;
  color: #ffffff;
}

.contained:hover {
  background-color: #222222;
}

.contained:disabled {
  background-color: #cacaca;
  cursor: default;
}

.outLine-default {
  border: 0.3px solid #383838;
  color: #383838;
}
.outLine-default:hover {
  background-color: #f9f9f9;
}

.outLine-default:disabled {
  color: #a5a5a5;
  cursor: default;
}

.outLine-warning {
  border: 0.5px solid #e74c3c;
  color: #e74c3c;
}

.outLine-warning:hover {
  background-color: #f9f9f9;
}

.outLine-warning:disabled {
  cursor: default;
  color: #d3675b;
}

.warning {
  background-color: #e74c3c;
  color: #ffffff;
}

.warning:hover {
  background-color: #e93b28;
}

.warning:disabled {
  background-color: #e6867b;
  cursor: default;
  color: #ffffff;
}

.lg {
  width: 100%;
  height: 3.75rem;
  font-size: 1.375rem;
  border-radius: 6px;
  font-weight: 600;
}

.sm {
  width: 100%;
  border-radius: 4px;
  font-size: 0.625rem;
  height: 1.3125rem;
  font-weight: 500;
}

.mdoal-button-input {
  display: none;
}
.mdoal-button-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
