.modal-history-height {
  max-height: 786px;
}

.modal-history {
  padding: 1.0625rem 0px 0px 0px;
  height: calc(100% - 4.5rem);
}

.history-title {
  display: flex;
  font-weight: 500;
  color: #393939;
  font-size: 0.875rem;
  align-items: center;
  padding: 0px 0.9375rem;
}

.history-title span {
  font-weight: 700;
}

.history-title button {
  width: 4.125rem;
  height: 1.5625rem;
  margin-left: auto;
}

.history-wrapper {
  margin-top: 1.1875rem;
  height: calc(100% - 2.7rem);
  padding: 0px 0.9375rem;
  overflow-y: auto;
}
