.quadrant {
  border-radius: 8px;
  padding: 5px;
  max-height: calc((100vh - 6rem) / 2);
  @media (max-width: 1100px) {
    max-height: calc((100vh - 19rem) / 2);
  }
}
.quadrant > p {
  position: relative;
  text-align: end;
  right: 8px;
  font-size: 1.2rem;
  bottom: 25px;
  font-weight: 500;
  color: #6a6a6a73;
  animation: fade-in 0.3s;
}

.important_not_urgent {
  background-color: #f6f3f9;
}
.important_urgent {
  background-color: #fdebec;
}
.not_important_not_urgent {
  background-color: #edf3ec;
}
.not_important_urgent {
  background-color: #e7f3f8;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
