.quadrant {
  border-radius: 8px;
  padding: 5px;
  max-height: calc((100vh - 6rem) / 2);
}
.important_not_urgent {
  background-color: #f6f3f9;
}
.important_urgent {
  background-color: #fdebec;
}
.not_important_not_urgent {
  background-color: #edf3ec;
}
.not_important_urgent {
  background-color: #e7f3f8;
}
